<p-schedule [events]="events" [header]="header" [locale]="br" [eventLimit]="4" [editable]="true" (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>

<p-dialog header="Cadastro de Evento" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Título</label></div>
            <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">Início</label></div>
            <div class="ui-grid-col-8">
                <p-inputMask id="start" mask="99/99/9999 99:99" [(ngModel)]="event.start" placeholder="99/99/9999 99:99" slotChar="dd/mm/yyyy HH:mm"></p-inputMask>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="end">Fim</label></div>
            <div class="ui-grid-col-8">
                <p-inputMask id="end" mask="99/99/9999 99:99" [(ngModel)]="event.end" placeholder="Optional" slotChar="dd/mm/yyyy HH:mm"></p-inputMask>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="allday">Dia Todo</label></div>
            <div class="ui-grid-col-8">
                <p-checkbox [(ngModel)]="event.allDay" binary="binary"></p-checkbox>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="description">Descrição</label></div>
            <div class="ui-grid-col-8">
                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="event.description"></textarea>
                <!--<p-inputMask id="description" mask="9999-99-99" [(ngModel)]="event.end" placeholder="Optional" slotChar="yyyy-mm-dd"></p-inputMask>-->
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="type">Tipo</label></div>
            <div class="ui-grid-col-8">
                <p-checkbox [(ngModel)]="event.academico" label="Acadêmico" binary="binary"></p-checkbox>
                <p-checkbox [(ngModel)]="event.casual" label="Casual" binary="binary"></p-checkbox>
            </div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Deletar"></button>
            <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Salvar"></button>
        </div>
    </footer>
</p-dialog>

<p-dialog header="Detalhes do Evento" [(visible)]="detailVisible" [responsive]="true" showEffect="fade" [modal]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <h4>{{event.title}}</h4>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <label>Início: {{event.start}}</label>
            </div>
        </div>
        <div class="ui-grid-row" *ngIf="event.end">
            <div class="ui-grid-col-12">
                <label>Fim: {{event.end}}</label>
            </div>
        </div>
        <div class="ui-grid-row" *ngIf="event.description">
            <div class="ui-grid-col-12">
                <label>Descrição: {{event.description}}</label>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <label>Criado por: {{event.criador}}</label>
            </div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="closeDialog()" label="OK"></button>
        </div>
    </footer>
</p-dialog>